<div><br />
	<center>
		<h2>INVENTARIO</h2>
	</center>
</div>
<div class="jumbotron">
	<p class="lead">Para visualizar el inventario de productos disponibles presiona en el siguiente botón.</p>
	<p><a href="../PRODUCTOes" class="btn btn-success btn-lg">Ver Inventario &raquo;</a></p>
	<p><a href="../PRODUCTOS_HISTORICO" class="btn btn-primary btn-lg">Ver Histórico de Productos &raquo;</a></p>
</div>

